<p class="page-description">{{ markup }}</p>

<section class="add_cats_form">
  {{ add_form }}
</section>

<h2 class="cat-list_title">Cats list</h2>
<section class="cat-list">
  {% for cat in cats %}
    <div class="cat">
      <a href="{{ cat.cat_image }}" class="cat-img-link">
        <img src="{{ cat.cat_image }}" alt="{{ cat.cat_name }}-image" width="300px" class="cat_image">
      </a>
      <div class="sec-col">
        <div class="cat-data">
          <div class="cat-name">{{ cat.cat_name }}</div>
          <div class="cat-email">{{ cat.email }}</div>
          <div class="cat-date">{{ cat.date }}</div>
        </div>
        {% if user.hasPermission('access to edit cats list') %}
          <div class="cat-actions">
            <a class="use-ajax edit" data-dialog-type="modal" href="/vinvit/cats/edit/{{ cat.id }}">Edit</a>
            <a class="use-ajax delete" data-dialog-type="modal" href="/vinvit/cats/delete/{{ cat.id }}">Delete</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>
